.backColor{
    background: linear-gradient(36deg, #fab7d5 30%, #572d3b 88%);
}

.cursor {
    cursor: pointer;
    color: white;
}

.text-decorator-none{
    text-decoration: none;
}

.bar{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.p{
    padding-top: 5px;
}

.text-color{
    color: white;
}