.textos1{
    font-weight: bold !important;
}

.imagem{
    
        background-image: url(https://images6.fanpop.com/image/photos/43700000/Wanda-WandaVision-1-06-All-New-Halloween-Spooktacular-wandavision-43797661-1440-1440.jpg);
        background-repeat: no-repeat;
        width: 100vh;
        min-height: 100vh;
        background-size: cover;
        background-position: center;

}

.text-decorator-none{ 
    text-decoration: none;
}