.box1{
    background-color: #572d3b;
    
    height: "115px";
}

.box2{
    background-color: #572d3b;
    height: 60px;
}

.redes{
    font-size: 40px !important;
    color:  white;
}

.textos{
    color: white;
}

.redegit{
    font-size: 35px !important;
    color:  white;
}

.marg{
    margin: 0 5px;
}

