.box1{
    background-color: #3a0202;
    
    height: "115px";
}

.box2{
    background-color:#3a0202;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color:  white;
}

.textos{
    color: white;
}

